.get-in-touch-section {
  display: flex;
  flex-direction: column;

}
.get-in-touch-section h2{
  text-align: left;
  font-family: "Asfalto",sans-serif;
}
.get-in-touch-info-section {
  padding-right: 40px;

}
.get-in-touch-info-section input {
  flex: 1;
  border: 1px solid #e1e1e1;
  color: #777777;
  padding: 16px 25px;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
}
.get-in-touch-select {
  font-size: 16px;
  flex: 1;
  height: 100%;
}

.get-in-touch-info-section select {
  padding: 17px 40px 16px 26px;
}
.get-in-touch-info-section select:focus,
.get-in-touch-info-section input:focus,
.get-in-touch-info-section textarea:focus {
  outline: none;
}
.get-in-touch-info-section select:focus {
  border-bottom: 0;
}
.get-in-touch-info-section select option:checked {
  background: red;
}

.get-in-touch-info-section textarea {
  color: #777777;
  font-size: 16px;
  padding: 16px 25px;
  border: 1px solid #e1e1e1;
  width: 100%;
  margin-bottom: 20px;
}
.get-in-touch-info-section .get-in-touch-inputted-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.get-in-touch-info-section .submit-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
}
.get-in-touch-info-section .submit-message button {
  padding: 20px 40px;
  border: none;
  background-color: #ffe745;
}
#contact-us-button2 {
    padding: 25px 50px;
  color: #151515;
  background-color: #ffe745;
  border-color: #6046b6;
}
#contact-us-button2:hover,
#contact-us-button2:active {
  color: #ffffff;
  background-color: #73cca1;
  border-color: #73cca1;
}

