@font-face {
  font-family: 'Asfalto';
  src: local('Asfalto'), url('../public/Asfalto.otf') format('otf');
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.containerOur {
  max-width: 1170px;
  margin: 0 auto;
}

