.book-Section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.book-Section h2 {
  font-size: 55px;
  font-family: "Asfalto", sans-serif;
  text-align: center;
  margin-bottom: 50px;
}
.book-info-section {
  padding: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.book-info-section input {
  width: 100%;
  border: 1px solid #e1e1e1;
  color: #777777;
  padding: 16px 25px;
  font-size: 16px;
  border-radius: 4px;
}
.book-info-section input:focus,
.book-info-section textarea:focus {
  outline: none;
}

.book-info-section textarea {
  color: #777777;
  font-size: 16px;
  padding: 16px 25px;
  border: 1px solid #e1e1e1;
  width: 100%;
  margin-bottom: 20px;
}
.book-info-section .inputted-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}
.book-info-section .submit-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
}

#send-message-button {
  color: #151515;
  background-color: #ffe745;
  border-color: #6046b6;

  padding: 30px;
  margin-top: 40px;
}
#send-message-button:hover,
#send-message-button:active {
  color: #ffffff;
  background-color: #73cca1;
  border-color: #73cca1;
}
.book-info-section .submit-message .text-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.book-info-section .submit-message .text-info i {
  font-size: 80px;
  color: #eeeeee;
}
.book-info-section .submit-message .text-info span {
  font-style: italic;
  max-width: 355px;
  font-size: 24px;
  font-weight: 100;
  color: #777777;
  padding: 0;
  margin: 0;
}
.select {
  flex: 1;
}
