.discount-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 516px;
  color: white;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}
.discount-section::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.discount-section * {
  z-index: 2;
}

#discount-button {
  color: #151515;
  background-color: #ffe745;
  border-color: #6046b6;
  padding: 30px 55px;
  margin-top: 40px;
  
}
#discount-button:hover,
#discount-button:active {
  color: #ffffff;
  background-color: #73cca1;
  border-color: #73cca1;
}
.discount-main {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.discount-main h2 {
  font-size: 45px;
  font-family: "Asfalto", sans-serif;
  text-align: left;
}
.discount-main p {
  margin-top: 14px;
  font-size: 24px;
}
.discount-main .taste-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.discount-main .taste-line div:last-child {
  color: #fff;
  font-size: 18px;
}
.discount-main .taste-line .div-line {
  width: 40px;
  height: 3px;
  background-color: #6046b6;
  margin-right: 20px;
}
