.discount-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 516px;
  color: white;
  padding: 100px 0;
  position: relative;
  overflow: hidden;


}
.discount-section::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.discount-section * {
  z-index: 2;
}
.discount-main a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
  padding: 17px 40px;
  background-color: #ffe745;
  margin-top: 40px;
}
.discount-main {

  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.discount-main h2 {
  font-size: 45px;
  text-align: left;
}
.discount-main p {
  margin-top: 14px;
  font-size: 24px;
}
.discount-main .taste-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.discount-main .taste-line div:last-child {
  color: #fff;
  font-size: 18px;
}
.discount-main .taste-line div:first-child {
  width: 40px;
  height: 3px;
  background-color: #6046b6;
  margin-right: 20px;
}
