.pizza-var-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.pizza-var-content-container span {
  font-size: 17px;
  margin-top: 18px;
}
.pizza-var-content-container .name {
  font-size: 18px;
  margin-top: 8px;
}
.pizza-var-content-container .price {
  font-size: 15px;
  margin-top: 6px;
}
.discount {
  text-decoration: line-through;
  color: #8a8a8a;
}

#add,
#view {
  color: #151515;
  background-color: #ffe745;
  border-color: #6046b6;
  padding: 12px 25px;
  top: 50%;
  left: 5%;
}
#add:hover,
#view:hover,
#add:active,
#view:active {
  color: #ffffff;
  background-color: #73cca1;
  border-color: #73cca1;
}
.relative-pizza-container {
  position: relative;
  transition: opacity 0.3s ease-in-out;
}
.pizzas-buttons {
  position: absolute;
  transition: display 0.3s ease-in-out;
  opacity: 0;
}
#add {
  transform: translate(40px, 0);
  transition: transform 0.2s ease-in-out;
}
#view {
  transform: translate(-40px, 0);
  transition: transform 0.2s ease-in-out;
}
.pizza-var-container:hover #add,
.pizza-var-container:hover #view {
  transform: translate(0, 0);
}
.pizza-var-container:hover .pizzas-buttons {
  opacity: 1;
}

.pizza-var-container:hover .pizza-card-info {
  opacity: 0.3;
}
.pizza-var-container {
  padding: 45px 20px 35px 44px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
/* .relative-pizza-container:hover .pizzas-buttons {
  display: block;
  opacity: 1;
} */
