#pizza-carousel {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.pizza-info {
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  transform: skewX(10deg);
  transform-origin: 100% 100%;
  z-index: -1;
    transition: background-color 0.4s ease-in-out;
}
.button2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  transform: skewX(-10deg);
  transform-origin: 100% 100%;
  z-index: -1;
    transition: background-color 0.4s ease-in-out;
}

.button1 div i,
.button2 div i {
  font-size: 30px;
  color: white;
  opacity: 1 !important;
}
.info-pizza h1 {
  font-size: 130px;
  font-family: "Asfalto", sans-serif;
}
.info-pizza p {
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 50px;
  max-width: 400px;
}
.container-pizza {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 1170px;
}
.container-pizza a {
  text-decoration: none;
  padding: 30px 50px;
  color: #151515;
  background-color: #ffe745;
  border-color: #6046b6;
  font-weight: 900;
  transition: all 0.3s ease-in-out;
}
.container-pizza a:hover {
  color: #ffffff;
  background-color: #73cca1;
  border-color: #73cca1;
}
.pizza-image {
  height: 120px;
  width: 200px;
}
.button1,
.button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 80px;
  z-index: 0;
  position: relative;
  overflow: hidden;
  transition: background-color 0.4s ease-in-out;
}
.container-button-image {
  transform: translateX(-200px);
  transition: transform 0.4s ease-out;
}

.container-button-image:hover .button1::before,
.container-button-image2:hover .button2::before {
  background-color: #ffe745;
}

.container-button-image:hover .button1,
.container-button-image2:hover .button2 {
  height: 120px;
}
.container-button-image:hover {
  transform: translateX(0px);
}
.container-button-image2 {
  transform: translateX(290px);
  transition: transform 0.4s ease-out;
}
.container-button-image2:hover {
  transform: translateX(0px);
}
